.wrapper {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formContentContainer {
  margin-top: 3vh;
  font-size: 1rem;

  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formTitle {
  width: 70%;
  font-size: 2rem;
  font-weight: 500;
}

.formFieldsContainer {
  width: 70%;
  border-radius: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  row-gap: 2vh;
  margin-bottom: 5vh;
  margin-top: 2vh;
  align-self: center;
  padding-bottom: 3vh;
}

.formField {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 2vw;
}

.formLabel {
  font-size: 1.1rem;
  font-weight: lighter;
  width: 20%;
}

.formInput {
  width: 70%;
  padding-left: 5vw;
}

.formInput input[type="text"] {
  height: 2rem;
  width: 90%;
  outline-color: rgb(0, 132, 255);
  opacity: 0.5;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
  font-size: 1.1rem;
  font-weight: 500;
}

.submitButton {
  background-color: rgba(0, 98, 255, 0.723);
  color: white;
  padding: 1vh 1vw;
  border-radius: 0.5rem;
  margin-left: 2vw;
  cursor: pointer;
}

.submitButton:hover {
  background-color: rgba(0, 4, 255, 0.723);
}

.resetButton {
  padding: 1vh 1vw;
  border-radius: 0.5rem;
  margin-left: 2vw;
  cursor: pointer;
}

.radioContainer {
  display: flex;
  flex-direction: column;
}

.radioChoice {
  display: flex;
  flex-direction: row;
  font-weight: 100;
}

.finalQuestionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 2vw;
}

.finalQuestionInput {
  display: flex;
  flex-direction: column;
}

.inputBox {
  margin-top: 2vh;
}

@media screen and (max-aspect-ratio: 13 / 9) {
  .formField {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2vh;
  }

  .formFieldsContainer {
    width: 90%;
  }

  .formLabel{
    margin-left: 5vw;
    width: 90%;
  }

  .finalQuestionContainer{
    flex-direction: column;
    align-items: flex-start;
  }

 .formInput{
    width: 90%;
 }
}
