.wrapper{
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 100%;
    background-color: white;
}

.logoContainer{
    width: auto;
    height: 8vh;
    align-self: center;
    padding-left: 2vw;
}

.logoImage{
    object-fit: contain;
    height: 100%;
    width: 100%;
}